body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #0077cc;
    color: #fff;
    padding: 10px 20px;
}

.logo-box {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo-box img {
    width: 80px;
    height: auto;
}

nav {
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}


nav a {
    color: #E7E7E7;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    display: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: flex;
    margin-right: 10px;
}

main {
    display: flex;
    justify-content: center;
    background: #f0f0f0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px;
}

.banner {
    padding: 20px;
}

.news-ticker {
    background: #f0f0f0;
    padding: 10px;
}

.content {
    display: flex;
}

.left-column {
    flex: 2;
    padding: 20px;
}

.right-column {
    flex: 1;
    padding: 20px;
}

footer {
    background: #0077cc;
    color: #fff;
    padding: 20px;
}

.footer-left,
.footer-center,
.footer-right {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.social-icons li {
    display: inline;
    margin-right: 10px;
}

.partner-links li {
    display: inline;
    margin-right: 10px;
}

.bottom-bar {
    text-align: center;
    padding: 10px 0;
}

.active {
    color: yellow;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: relative;
    float: right;
    margin-right: 20px;
}


.open a {
    display: flex;
}

#mode {
    position: absolute;
    top: 8rem;
    right: 3rem;
    cursor: pointer;
    font-size: 3rem;
}

#dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}

.hero img {
    width: 100%;
    height: auto;
}